@import "../../../custom";

header {
  margin: 3rem 0 1.5rem 0;

  button {
    margin: 0 0 0 2rem;
  }
}

.input-group.muted {
  margin: 0 0 1rem
}

::ng-deep app-onboarding-modal .modal-dialog {
  min-width: 800px;
}

::ng-deep app-pagination {
  margin: 0 0 3rem;
  display: block;
}

