<app-modal [widthByPercentage]="'57%'">
  <div class="onboarding-container" [ngSwitch]="currentPage">
    <div class="page-1-container" *ngSwitchCase="1">
      <h2 class="text-center font-weight-bold">Welcome!</h2>
      <div class="page-1-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 p-1">
              <div class="d-flex align-items-center h-100">
                <div class="reference-container">
                  <h5 class="font-weight-bold align-self-center">Reference Video Clip</h5>
                  <div class="d-flex">
                    <img src="assets\images\onboarding-1.jpg">
                    <div class="d-flex align-items-center justify-content-center">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col p-1">
              <h5 class="font-weight-bold">Matched Video Clips From Your Collection</h5>
              <div class="container-fluid p-0">
                <div class="row mb-3">
                  <div class="col pr-0">
                    <img src="assets\images\onboarding-2.jpg">
                  </div>
                  <div class="col">
                    <img src="assets\images\onboarding-5.jpg">
                  </div>
                </div>
                <div class="row">
                  <div class="col pr-0">
                    <img src="assets\images\onboarding-4.jpg">
                  </div>
                  <div class="col">
                    <img src="assets\images\onboarding-3.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="sub-header">You will be collaborating with AI to find clips in your collection of videos
                that are similar to a reference clip that you provide.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <p class="next-link ml-auto" (click)="nextPage()">How do I use this? &nbsp;&nbsp;<i class="fa fa-arrow-right"
            aria-hidden="true"></i></p>
      </div>
    </div>
    <div class="page-2-container" *ngSwitchCase="2">
      <h2 class="text-center font-weight-bold">How Do I Use This?</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="illustration">
              <img src="assets\images\ill-1.png">
            </div>
            <div class="copy-container d-flex flex-row">
              <div class="p-2">
                <h5 class="font-weight-bold">1. Create</h5>
                <p>Have your video collections provisioned to the database. Select a reference
                  video clip and a collection of videos to search for similarities.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="illustration">
              <img src="assets\images\ill-2.png">
            </div>
            <div class="copy-container d-flex flex-row">
              <div class="p-2">
                <h5 class="font-weight-bold">1. Train</h5>
                <p>The algorithm will generate samples for you to grade until you think
                  the samples reflect the action of interest to you.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="illustration">
              <img src="assets\images\ill-3.png">
            </div>
            <div class="copy-container d-flex flex-row">
              <div class="p-2">
                <h5 class="font-weight-bold">3. Export</h5>
                <p>Get a report of all
                  matching clips in your collection, using the algorithm trained on the samples you graded.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <p class="next-link" (click)="backPage()"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;&nbsp;Back
        </p>
        <p class="next-link ml-auto" (click)="nextPage()">What is a reference video clip? &nbsp;&nbsp;<i
            class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </div>
    </div>
    <div class="page-3-container" *ngSwitchCase="3">
      <h2 class="text-center font-weight-bold">What Is A Reference Video Clip?</h2>
      <div class="illustration text-center">
        <img src="assets\images\ill-4.png">
      </div>
      <div class="container-fluid">
        <div class="row justify-content-md-center">
          <div class="col-8">
            <p>You will select a time in a video that shows the type of action of
              interest to you. The program
              will
              use the 10 seconds around the time you choose as the reference clip. This reference clip will be compared
              with
              other clips in your video collection.</p>
              <div class="form-group form-check text-center">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I know I can click on "Help" to see this information in the future.</label>
              </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <p class="next-link" (click)="backPage()"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;&nbsp;Back
        </p>
        <p class="next-link ml-auto" (click)="closeOnboarding()">Start Finding Matches! &nbsp;&nbsp;<i class="fa fa-arrow-right"
            aria-hidden="true"></i></p>
      </div>
      <!-- <button class="btn btn-warning" (click)="closeOnboarding()">I got it and I know I can click on "help" to see this
        again</button> -->
    </div>
  </div>
</app-modal>
