@import "../../../custom";

.onboarding-container {
  padding: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.next-link {
  margin: 1.5rem 0 0;
  cursor: pointer;
  font-size: 1.25rem;
  color: map-get($parc-colors, "orange");

}

.page-1-container {
  .sub-header {
    font-size: 2rem;
    padding: 0 15%;
    margin: 2rem 0 3rem;
    color: darken(map-get($parc-colors, "medium-gray"), 20%);
    line-height: 1.25;
  }

  h6 {
    color: map-get($parc-colors, "orange");
  }

  .next-link {
    margin-top: 3rem;
  }

  .mark-img {
    margin: 1rem auto 0;
    max-height: 180px;
    width: auto;
  }

}

.page-2-container {
  h2 {
    margin: 0 0 6rem;
  }

  .illustration {
    height: 200px;
    margin: 0;
  }

  .copy-container {
    margin: 0 0 2rem;
  }

  .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    background-color: map-get($parc-colors, "primary");
  }
}

.page-3-container {
  .illustration {
    width: 500px;
    margin: 0 auto 1rem auto;

    p {
      margin: 0;
      font-size: 2rem;
      height: 100%;
    }
  }

  p {
    margin: 0 0 4rem;
  }

  button {
    margin: 0 0 1rem;
  }
}
