<section class="search-set-add">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="vq-title">Add Search Set</h1>
        <p class="lead">Create a new Search Set and save it by clicking the save button to the right.</p>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-search-set-current></app-search-set-current>
      </div>
      <div class="col-6">
        <app-search-set-search></app-search-set-search>
      </div>
    </div>
  </div>
</section>
