<app-nav></app-nav>
<section class="navigation-offset min-vh-100 d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col">

        <header class="mb-4">
          <h1 class="font-weight-bold">Create New Query</h1>
          <p class="m-0">Make a new search of video matches with the video clip of your choice. Click the "Submit" </p>
          <p>button when finished to run the query against the database for matches.</p>
        </header>

        <section class="bg-white matches-container p-4 mb-4">
          <h3>Define your query</h3>
        </section>

        <section class="bg-white matches-container p-4 mb-4">
          <h3>Choose video collection to find matches</h3>
        </section>

        <section class="bg-white matches-container p-4 mb-4">
          <h3>Define your query</h3>
        </section>

        <section class="bg-white matches-container p-4 mb-4">
          <h3>Choose your reference video clip</h3>
        </section>

        <section class="bg-white matches-container p-4 mb-4">
          <h3>Specify training duration</h3>
        </section>

        <section class="bg-white matches-container p-4">
          <h3 class="mb-4">Notes <span>(Optional)</span></h3>
          <textarea class="w-100"></textarea>
        </section>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
