<app-nav></app-nav>
<div class="min-vh-100  navigation-offset min-vh-100 d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col">
        <header class="d-flex justify-content-start">
          <h1 class="font-weight-bold">My Video Collections</h1>
          <div class="d-flex align-items-center">
            <button class="btn btn-warning" (click)="openCreateNewQueryModal = true">Create New Query</button>
          </div>
        </header>
        <div class="row">
          <div class="col-9">
            <div class="input-group muted">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-search"
                    aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search By Name" [ngModel]="searchTerm"
                (ngModelChange)="onSearch($event)">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <select class="form-control muted" (change)="onOrderByChange()" [(ngModel)]="selectedOrderby">
                <option value="" selected="selected" disabled="disabled">Order By</option>
                <option value="name">Name</option>
                <option value="date_created">Date Created</option>
              </select>
            </div>
          </div>
        </div>
        <div class="border bg-white mb-3 p-4" *ngFor="let set of searchSets">
          <div class="row no-gutters">
            <div class="col-lg-5">
              <h3>{{set.name}}</h3>
            </div>
            <div class="col-lg-3">
              <table class="table table-borderless table-responsive">
                <tbody>
                  <tr>
                    <td>Date Created:</td>
                    <td>{{set.date_created | date : 'shortDate'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-lg-2">
              <table class="table table-borderless table-responsive">
                <tbody>
                  <tr>
                    <td>Number of videos:</td>
                    <td>{{set.videos.length}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-lg-2 text-center">
              <a [routerLink]="['/video-collections/', set.id]">View Collection</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
