<app-nav></app-nav>
<div class="navigation-offset min-vh-100 d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col">
        <header>
          <h1 class="font-weight-bold">{{queryService.currentQuery.name}}</h1>
          <h5 class="font-weight-bold">Review Match Samples</h5>
          <p>Give feedback on whether each sample matches your concept. Continue updating the AI model
            until the matches seem accurate.
          </p>
        </header>
        <section class="bg-white matches-container">
          <h3>Select correct matches</h3>
          <div class="matches-nested-container">
            <div class="row">
              <div class="col">
                <div class="videos-container">
                  <ng-container *ngFor="let match of matchService.matches">
                    <app-match-video [match]="match"></app-match-video>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="bg-white comments-container">
          <h3>Notes <span>(Optional)</span></h3>
          <div class="form-group  mb-0">
            <textarea class="form-control" rows="3" [(ngModel)]="queryService.currentQuery.notes" id="notes"
              (ngModelChange)="noteChanged($event)"></textarea>
          </div>
        </section>
        <section class="d-flex flex-row bd-highlight mb-5">
          <div class="mr-2 bd-highlight">
            <a (click)="rollBack()">Reset</a>
          </div>
          <div class="mr-2 bd-highlight">
            <button class="btn btn-warning" (click)="submitMatches()">Update AI model</button>
          </div>
          <button class="btn btn-warning" (click)="submitFinalize()">Finalize Query</button>
        </section>
      </div>
    </div>
  </div>
  <app-token-auth (submit)="onAuthTokenSubmit()"></app-token-auth>
  <app-footer></app-footer>
  <app-loader [show]="isLoading"></app-loader>
</div>
