<div class="min-vh-100">
  <app-nav></app-nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <header>
          <h1 class="font-weight-bold">{{queryService.currentQuery.name}}</h1>
          <h5 class="font-weight-bold">Review Match Samples</h5>
          <p>Give feedback on whether the match samples are good matches. Continue until the matches seem accurate.
          </p>
        </header>
        <section class="bg-white matches-container">
          <h3>Select correct matches</h3>
          <div class="matches-nested-container">
            <div class="row">
              <ng-container *ngFor="let match of queryMatchService.matches">
                <div class="match col-3">
                  <div class="video">
                    <video align="center" #videoPlayer [attr.data-message-id]="match.id"
                      [ngClass]="{'visited': match.user_match !== null, 'hovered': match.is_hovered}">
                      <source [src]="queryMatchService.getFormattedVideoUrl(match)" type="video/mp4"> Your browser does
                      not support the video tag.
                    </video>
                    <div class="overlay" (click)="videoClick(match)" (mouseover)="videoMouseOver(match)"
                      (mouseleave)="videoMouseLeave(match)" [ngClass]="{'hovered': match.is_hovered}">
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="fa fa-play" aria-hidden="true" *ngIf="!match.is_loading"></i>
                        <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="match.is_loading"></i>
                      </div>
                    </div>
                  </div>
                  <div class="meta d-flex flex-row">
                    <div>
                      <div class="circle" [ngClass]="{'is-match': match.user_match}"
                        (click)="queryMatchService.setValidation(match)"> &#10003;</div>
                    </div>
                    <div class="pl-2 video-meta" [ngClass]="{'font-weight-bold': match.user_match == null}">
                      <p>{{match.match_video_name}}</p>
                      <p>{{match.reference_start_time}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </section>
        <section class="bg-white comments-container">
          <h3>Notes <span>(Optional)</span></h3>
          <div class="form-group  mb-0">
            <textarea class="form-control" rows="3" [(ngModel)]="queryService.currentQuery.notes" id="notes"
              (ngModelChange)="noteChanged($event)"></textarea>
          </div>
        </section>
        <section class="d-flex flex-row bd-highlight mb-5">
          <div class="mr-2 bd-highlight">
            <button class="btn btn-warning" (click)="rollBack()">Reset</button>
          </div>
          <div class="mr-2 bd-highlight">
            <button class="btn btn-warning" (click)="submitMatches()">Submit Feedback</button>
          </div>
          <button class="btn btn-warning" (click)="submitFinalize()">Finalize Query</button>
        </section>
      </div>
    </div>
  </div>
</div>
<app-loader [show]="isLoading"></app-loader>
