<app-nav></app-nav>
<section class="navigation-offset min-vh-100 d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col">
        <header>
          <h1 class="font-weight-bold">Create New Query</h1>
          <h5 class="font-weight-bold">Review Match Samples</h5>
          <p>Make a new search of video matches with the video clip of your choice. Click the "Submit" button when
            finished to run the query against the database for matches.
          </p>
        </header>
        <app-define-new-query></app-define-new-query>
        <app-reference-new-query></app-reference-new-query>
        <app-collection-new-query></app-collection-new-query>
        <app-specify-new-query></app-specify-new-query>
        <app-notes-new-query></app-notes-new-query>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
