@import "../../../custom";

:host {
  display: block;
  width: 100%;
  margin-top: auto;
}

footer {
  padding: 0 0 0.5rem;

  .meta-top {
    padding: 0 0 0.5rem;
    text-align: center;
    color: theme-color-level("dark", -8);

    .social a, a {
      color: theme-color-level("dark", -8);
      cursor: pointer;

      &:hover {
        color: theme-color-level("dark");;
        transition: color 0.25s;
      }
    }

    .social {
      margin: 1rem 0 0;
    }
  }

  .meta-bottom {
    font-size: 12px;
    color: theme-color-level("dark", -8);

    a {
      color: theme-color-level("dark", -8);

      &:hover {
        transition: color 0.25s;
      }

      font-weight: bold;
    }

    p {
      margin: 8px 0 10px;
    }
  }
}
