<div class="video-container" *ngIf="match.isAuthenticated">
  <div class="video">
    <video [attr.data-message-id]="match.id" #videoPlayer
      [ngClass]="{'visited': match.user_match !== null, 'hovered': match.is_hovered}">
      <source [src]="matchService.getFormattedVideoUrl(match)" type="video/mp4"> Your browser
      does
      not support the video tag.
    </video>
    <div class="overlay" (mouseleave)="videoMouseLeave()" [ngClass]="{'hovered': match.is_hovered}">
      <div class="d-flex align-items-center justify-content-center">
        <!-- TODO: is_loading state is bypassed -->
        <i class="fa fa-play" aria-hidden="true" (mouseover)="videoMouseOver()" (click)="videoClick()"></i>
        <!-- <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="match.is_loading"></i> -->
      </div>
    </div>
  </div>
  <div class="meta d-flex flex-column">
    <div class="meta-container d-flex flex-row">
      <div>
        <div class="circle" [ngClass]="{'is-match': match.user_match || (match.user_match == null && match.is_match)}"
          (click)="matchService.setValidation(match)"> &#10003;</div>
      </div>
      <div class="pl-2 video-meta" [ngClass]="{'font-weight-bold': match.user_match == null}">
        <p>{{match.match_video_name}}</p>
        <p>{{match.reference_start_time}}</p>
      </div>
    </div>
  </div>
</div>
<div class="empty-video-container text-center" *ngIf="!match.isAuthenticated">
  <div class="d-flex align-items-center text-center h-100">
    <div class="w-100">
      <i aria-hidden="true" class="fa fa-lock fa-4x"></i>
      <br />
      <a (click)="onAuthorize()">Authorize</a>
    </div>
  </div>
</div>
