<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="display-4">Interactive Search For Similar Video Snippets</h1>
        <p class="lead">
          This application uses embedded features from a deep learning network trained to recognize similar video actions. Use this
          application to search a video dataset for snippets that are similar to a reference snippet you specify.
        </p>
      </div>
    </div>
  </div>
</div>
