<section class="existing-query">
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-4 col-lg-3 col-xl-2 query-selection">
        <app-query-selection (queryClick)="onQueryClick($event)"></app-query-selection>
      </div>
      <div class="col-12 col-md-8 col-lg-9 col-xl-10">
        <section class="canvas-container">
          <ng-container *ngIf="!existingQueryService.currentQuery.id">
            <div class="empty-state-page">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <h4>Select A Query</h4>
            </div>
          </ng-container>
          <div [style.display]="existingQueryService.currentQuery.id ? 'block': 'none'">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg">
                  <app-query-header [query]="existingQueryService.currentQuery"
                    [isEditable]="isQueryDisabled() || disabled" (resetQuery)="onResetQuery()"
                    (revisionSubmit)="onRevisionSubmit()" (finalizeSubmit)="onFinalizeSubmit()"></app-query-header>
                </div>
              </div>
              <div class="row" [hidden]="isQueryDisabled()">
                <div class="col-lg-6">
                  <div class="vq-widget">
                    <app-chart-one *ngIf="chartVersion === 1" [isEditable]="disabled"></app-chart-one>
                    <app-chart-two *ngIf="chartVersion === 2" [isEditable]="disabled"></app-chart-two>
                    <app-results-list-chart *ngIf="chartVersion === 3" [isEditable]="disabled"></app-results-list-chart>
                    <app-chart-selection *ngIf="!isQueryDisabled() "></app-chart-selection>
                  </div>
                </div>
                <div class="col-lg-6">
                  <app-reference-video [isEditable]="disabled" [videoSrc]="existingQueryService.videoSrc"
                    (resetCurrentActiveMatch)="onResetCurrentActiveMatch()"></app-reference-video>
                </div>
              </div>
              <div class="row" *ngIf="isProcessing()">
                <div class="col-lg ">
                  <div class="processing-state-page">
                    <i class="fa fa-wrench" aria-hidden="true "></i>
                    <h4>"{{existingQueryService.currentQuery.name}}" is currently being processed!</h4>
                    <p class="lead ">Please check back later for results.</p>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="existingQueryService.currentQuery.process_state === 5  && !canvasLoading">
                <div class="col-lg ">
                  <div class="processing-state-page">
                    <i class="fa fa-exclamation-circle error-color" aria-hidden="true "></i>
                    <h4>"{{existingQueryService.currentQuery.name}}" is currently an Erroneous state!</h4>
                    <p class="lead ">Please scroll to the error message at the bottom of the notes above.</p>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="existingQueryService.currentQuery.process_state === 6  && !canvasLoading">
                <div class="col-lg ">
                  <div class="processing-state-page">
                    <i class="fa fa-hourglass-half" aria-hidden="true "></i>
                    <h4>"{{existingQueryService.currentQuery.name}}" is currently being Finalized!</h4>
                    <p class="lead ">Please check back later for results.</p>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="existingQueryService.currentQuery.process_state === 7  && !canvasLoading">
                <div class="col-lg ">
                  <div class="processing-state-page">
                    <i class="fa fa-check success-color" aria-hidden="true "></i>
                    <h4>"{{existingQueryService.currentQuery.name}}" has been Finalized!</h4>
                    <br>
                    <a class="lead" [attr.href]="existingQueryService.currentQuery.final_report_file"><i
                        class="fa fa-download"></i>
                      Download</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-loader [show]="canvasLoading"></app-loader>
        </section>
      </div>
    </div>
  </div>
</section>
