<div class="vq-widget">
  <header class="clearfix">
    <div class="float-left">
      <h4 class="font-weight-light">{{query?.name}}</h4>
    </div>
    <div class="float-right">
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning" [disabled]="isEditable" (click)="onResetQuery()">
          Reset
        </button>
        <button type="button" class="btn btn-warning" [disabled]="isEditable" (click)="onRevisionSubmit()">
          Submit
        </button>
        <button type="button" class="btn btn-warning" [disabled]="isEditable" (click)="onFinalizeSubmit()">
          Finalize
        </button>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <ul class="list-unstyled">
          <li>
            <span class="font-weight-bold">Dataset: </span>{{query?.search_set_to_query_object?.name}}
          </li>
          <li>
            <span class="font-weight-bold">Video: </span>{{query?.video_object?.name}}
          </li>
          <li>
            <span class="font-weight-bold">Reference time: </span>{{query?.reference_time}}
          </li>
          <li>
            <span class="font-weight-bold">Clip duration: </span>{{query?.search_set_to_query_object?.duration}} s
          </li>
          <li>
            <span class="font-weight-bold">
              Matches to review (
              <i matTooltip="Maximum number of matches the user wants to review for this query.
              The app will select a random sampling of matches and near matches
              that does not exceed this number. "
              class="vq-info-tooltip fa fa-question"></i>
              ):
            </span>{{query?.max_matches_for_review}}
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <app-chart-header [title]="'Notes'" [disableRefresh]="true"
          [tooltip]="'Edit as desired. Edits will be saved.'">
        </app-chart-header>
        <textarea class="form-control" [(ngModel)]="query.notes" [disabled]="isEditable" id="notes"></textarea>
      </div>
    </div>
  </div>
</div>
