<div class="query-container bg-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>{{query.name}}</h4>
        <p class="state-text" [ngClass]="stateColor">{{stateText}}</p>
        <p class="view-notes-link m-0" (click)="openNotes()">View Notes</p>
      </div>
      <div class="col-md-auto">
        <table class="table table-borderless table-responsive">
          <tbody>
            <tr>
              <td>Dataset</td>
              <td>{{query.dataset}}</td>
              <td>Clip duration</td>
              <td>{{query.clip_duration}} seconds</td>
            </tr>
            <tr>
              <td>Video</td>
              <td>{{query.video_name}}</td>
              <td>Target bootstrapping</td>
              <td>{{query.use_dynamic_target_adjustment}}</td>
            </tr>
            <tr>
              <td>Reference time</td>
              <td>{{query.reference_time}}</td>
              <td>Matches to review</td>
              <td>{{query.max_matches_for_review}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-auto">
        <ng-container [ngSwitch]="stateButton">
          <ng-container *ngSwitchCase="1">
            <button class="btn btn-primary" [ngClass]="buttonColor">{{buttonText}}</button>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <button class="btn btn-primary" [ngClass]="buttonColor" routerLink="/query/{{query.id}}">{{buttonText}}</button>
          </ng-container>
          <ng-container *ngSwitchCase="3">
            <a class="btn btn-primary" [ngClass]="buttonColor" [href]="query.final_report_url">{{buttonText}}</a>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-modal>
  <h5>Notes</h5>
  <p>{{query.notes}}</p>
</app-modal>
