<section class="search-set">
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-4 col-lg-3 col-xl-2 list-nav">
        <app-list-nav [config]="searchSetService.listNavConfig" (selected)="onSelected($event)" (paginationClick)="onPaginationClick($event)"
          (perPageSelection)="onPerPageSelection($event)" (search)="onSearch($event)"></app-list-nav>
      </div>
      <div class="col-12 col-md-8 col-lg-9 col-xl-10">
        <section class="search-set-content">
          <div class="row">
            <div class="col-6">
              <app-search-set-current [data]="searchSetService.videosInSearchSet"></app-search-set-current>
            </div>
            <div class="col-6">
              <app-search-set-search></app-search-set-search>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <app-loader [show]="loading"></app-loader>
</section>
