@import "../../../../custom";
.search-set {
    background: gray("100");
}

.list-nav {
    background: color("white");
}

.search-set-content {
    padding: 1rem 0;
}

button {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.empty-state-page {
    text-align: center;
    color: gray("600");
    margin: 10rem 0 0;
    i {
        font-size: 15rem;
    }
}

.lead {
    padding: 0.5 0 0.25rem;
}

table.table {
    margin: 0;
}
