@import "../../../../custom";

.search-set {
  background: gray("100");
  padding: 1rem 0 0;
}


table {
  width: 100%;
  margin: 0;
}

button {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.vq-widget.header {
    margin: 1rem 0 0;
}

.search-set-content {
    padding: 1rem 0;
}

.list-nav {
    background: color("white");
}
