<div class="vq-widget">
  <h4>Search For Videos</h4>
  <div class="row">
    <div class="col">
      <label for="filterName">Video Name</label>
      <input type="text" class="form-control" id="searchInput" placeholder="Search..." [ngModel]="searchSetAddService.searchTerm"
        (ngModelChange)="onSearchTermUpdated($event)">
      <small id="filterNameHelp" class="form-text text-muted">Filter videos by name.</small>
    </div>
    <div class="col">
      <label for="searchSet">Search Set</label>
      <select class="form-control" required id="searchSet" name="searchSet" [(ngModel)]="searchSetAddService.selectedSearchSet"
        (ngModelChange)="onSelectedSearchSet()">
        <option [ngValue]="null">-- clear --</option>
        <option *ngFor="let searchSet of searchSetAddService.searchSets" [ngValue]="searchSet">{{searchSet.name}}</option>
      </select>
      <small id="searchSetHelp" class="form-text text-muted">Filter videos by Search Set.</small>
    </div>
  </div>
  <hr>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table">
      <tr *ngFor="let video of searchSetAddService.videos">
        <td>{{video.name}}</td>
        <td>
          <span class="video-link" (click)="onPathClick(video.path)">{{video.path}}</span>
        </td>
        <td (click)="onAdd(video)">
          <i class="fa fa-plus"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <section class="vq-pagination">
    <app-pagination [pagination]="pagination" (paginationClick)="onPaginationClick($event)" (perPageSelected)="onPerPageSelection($event)"></app-pagination>
  </section>
</div>
