<section class="d-flex align-items-center min-vh-100 bg-white">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="text-center font-weight-bold">Agile Video Query</h1>
        <p class="text-center sub font-weight-bold text-parc-orange">Interactive Search Tool For Similar Video Snippets
        </p>
        <h2 class="text-center font-weight-bold">Login
          <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
        </h2>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{errorMessage}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = null">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <form #loginFrom="ngForm" (ngSubmit)="onSubmitForm()">
                <div class="form-group">
                  <div class="input-group muted">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-user-o"
                          aria-hidden="true"></i></span>
                    </div>
                    <input type="text" required class="form-control form-control-lg" id="username"
                      placeholder="Username" [(ngModel)]="loginRequest.username" name="username" #username="ngModel"
                      [disabled]="loading">
                  </div>
                  <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.errors.required" class="vq-invalid-feedback">
                      Username is required.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group muted">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-lock"
                          aria-hidden="true"></i></span>
                    </div>
                    <input type="password" required class="form-control form-control-lg" id="password"
                      placeholder="Password" [(ngModel)]="loginRequest.password" name="password" #password="ngModel"
                      [disabled]="loading">
                  </div>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required" class="vq-invalid-feedback">
                      Password is required.
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-warning text-center login" [disabled]="loginFrom.invalid || loading">Log
                    In</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
