<app-nav></app-nav>
<div class="min-vh-100  navigation-offset min-vh-100 d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col mt-5">
        <div class="row mb-2">
          <div class="col-lg-8">
            <header class="d-flex justify-content-start">
              <h1 class="font-weight-bold">My Video Collections</h1>
            </header>
          </div>
          <div class="col-lg-4">
            <div class="form-group mt-2">
              <select class="form-control muted" (change)="onOrderByChange($event)"  [(ngModel)]="selectedOrderby" >
                <option value="" selected="selected" disabled="disabled">Order By</option>
                <option value="name">Name</option>
                <option value="date">Date Create</option>
                <option value="length">Length</option>
              </select>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table border">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">VIDEO NAME</th>
                <th scope="col">DATE CREATE</th>
                <th scope="col">VIDEO LENGTH</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let video of videos">
                <th scope="row" class="text-center">
                  <i class="fa fa-play-circle" (click)="onVideoClick(video.path, video.external_source)"></i>
                </th>
                <td>{{video.name}}</td>
                <td>Date</td>
                <td>Length</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal [(show)]="showModal">
  <video controls align="center" #videoPlayer class="w-100">
    <source src="{{videoSrc}}" type="video/mp4"> Your browser does not support the video tag.
  </video>
</app-modal>
