@import "../../../custom";

table {
  tbody {
    tr {
      background-color: white;
    }

    td {
      vertical-align: middle;
    }
  }
}

i {
  font-size: 3rem;
  color: map-get($parc-colors, "light-orange");
  cursor: pointer;

  &:hover {
    transition: all 0.25s;
    color: darken(map-get($parc-colors, "light-orange"), 10%);
  }
}
