<div class="vq-widget">
  <h4>Add Videos</h4>
  <div class="form-group">
    <h6>Filters</h6>
    <label for="searchSet">What Set does the reference video exist in?</label>
    <!-- <select class="form-control" [disabled]="disabled" id="searchSet" [(ngModel)]="newQueryService.selectedSearchSet" (ngModelChange)="onSelectedSearchSet()"
      name="selectedSearchSet">
      <option *ngFor="let searchSet of newQueryService.searchSets?.results" [ngValue]="searchSet">{{searchSet.name}}</option>
    </select> -->
  </div>
  <div class="form-group">
    <h6>Videos</h6>

  </div>

</div>
