@import "../../../../../../custom";
table {
    width: 100%;
    i {
        color: lighten(theme-color("success"), 10%);
        cursor: pointer;
        &:hover {
            transition: 0.25s all;
            color: theme-color("success")
        }
    }
}
