@import "../../../custom";

.home-content {
  margin: 3rem 0;
}

header {
  margin: 3rem 0 1.5rem 0;

  button {
    margin: 0 0 0 2rem;
  }
}

.input-group {
  margin: 0 0 1rem;

  .input-group-text {
    border-right: none;
    background-color: map-get($parc-colors, "light-gray");
  }

  input.form-control {
    background-color: map-get($parc-colors, "light-gray");
    border-left: none;
  }
}

::ng-deep app-onboarding-modal .modal-dialog {
  min-width: 800px;
}

::ng-deep app-pagination {
  margin: 0 0 3rem;
  display: block;
}
