@import "../../../custom";

:host {
  max-width: 80px;
}

.navigation {
  background: map-get($parc-colors, "dark");
  position: fixed;

  ul {
    margin: 0;
    text-align: center;
  }

  li,
  .help-link {
    padding: 0.5rem 0.5rem;
    height: 60px;
  }

  .help-link {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
    background: map-get($parc-colors, "ting-light-blue");
    margin: 0.5rem auto 0;
    font-weight: bold;
  }

  li.active {
    box-sizing: border-box;
    border-right: 6px map-get($parc-colors, "ting-light-blue") solid;

    i,
    svg {
      color: map-get($parc-colors, "ting-light-blue");
      margin-right: -6px;
    }

    path,
    circle {
      fill: map-get($parc-colors, "ting-light-blue");
      ;
    }
  }

  i {
    // color: map-get($parc-colors, "ting-light-blue");
    color: #fff;
    font-size: 2rem;
  }

  svg {
    height: 32px;
    width: 32px;

    path,
    circle {
      fill: #fff;
    }
  }

}
