<nav class="navigation min-vh-100">
  <ul class="list-unstyled">
    <li>
      <div class="circle">HW</div>
    </li>
    <li [ngClass]="{'active': currentPage === 'home'}" class="d-flex align-items-center justify-content-center">
      <a class="nav-link" [ngClass]="{'active': currentPage === 'home'}" routerLink="/home"
        (click)="currentPage = 'home'">
        <i class="fa fa-list" aria-hidden="true"></i>
      </a>
    </li>
    <li [ngClass]="{'active': currentPage=== 'new-query'}" class="d-flex align-items-center justify-content-center">
      <a class="nav-link" [ngClass]="{'active': currentPage === 'new-query'}" routerLink="/new-query"
        (click)="currentPage = 'new-query'">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a class="nav-link" [ngClass]="{'active': currentPage === 'search-sets'}" routerLink="/search-sets"
        (click)="currentPage = 'search-sets'">
        <i class="fa fa-video-camera " aria-hidden="true"></i>
      </a>
    </li>
    <li class="staff-navigation" *ngIf="authenticationService.getCurrentToken().is_staff">
      <a class="nav-link" [href]="adminUrl" target="_blank" title="Admin">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/" (click)="currentPage = ''">
        <i class="fa fa-sign-out"></i>
      </a>
    </li>
  </ul>
  <div class="help-link">
    <a href="https://github.com/PARC-projects/video-query-home/wiki/Web-Client-Example#example" target="_blank"
      title="Video Query Wiki">
      <i class="fa fa-question-circle-o"></i>
    </a>
  </div>
</nav>

<!-- <section class=" fixed-top">
  <nav class="main navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/home">
      Video Query
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show':isCollapsed}">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav logged-in-navigation" *ngIf="authenticationService.isLoggedIn()">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentPage=== 'home'}" routerLink="/home" (click)="currentPage = 'home'">
            <i class="fa fa-home"></i> &nbsp;Home
          </a>
        </li>
        <li class="nav-item" class="staff-navigation" *ngIf="authenticationService.getCurrentToken().is_staff">
            <a class="nav-link" routerLink="search-sets" title="Search Sets" (click)="currentPage = 'search-sets'">
              <i class="fa fa-video-camera"></i> &nbsp;Search Sets
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentPage === 'new-query'}" routerLink="/new-query" (click)="currentPage = 'new-query'">
            <i class="fa fa-plus-square"></i> &nbsp;Create Query
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentPage=== 'existing-query'}" routerLink="/existing-query" (click)="currentPage = 'existing-query'">
            <i class="fa fa-database"></i> &nbsp;Existing Queries
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/PARC-projects/video-query-home/wiki/Web-Client-Example#example" target="_blank" title="Video Query Wiki">
            <i class="fa fa-question-circle-o"></i> &nbsp;Help
          </a>
        </li>
        <li class="nav-item" class="staff-navigation" *ngIf="authenticationService.getCurrentToken().is_staff">
          <a class="nav-link" [href]="adminUrl" target="_blank" title="Admin">
            <i class="fa fa-lock"></i> &nbsp;Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="currentPage = ''">
            <i class="fa fa-sign-out"></i> &nbsp;Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</section> -->
