$fa-font-path: "./assets/fonts" !default;
@import "custom";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

p.text-parc-orange {
  color: map-get($parc-colors, "orange");
}

p.text-light-orange {
  color: map-get($parc-colors, "light-orange");
}

p.text-fuchsia {
  color: map-get($parc-colors, "ting-fuchsia");
}

.input-group.muted {
  margin: 0;

  .input-group-text {
    border-right: none;
    background-color: map-get($parc-colors, "light-gray");
  }

  input.form-control {
    background-color: map-get($parc-colors, "light-gray");
    border-left: none;
  }
}

.vq-invalid-feedback {
  @extend .invalid-feedback;
  display: block;
}

button.btn {
  border-radius: 0 !important; // Overrides bootstrap nested component scope =(
}


button.btn.disabled {
  cursor: no-drop !important; // Overrides bootstrap nested component scope =(
}

button.btn.btn-light-orange,
button.btn.btn-light-orange.disabled {
  background-color: map-get($parc-colors, "light-orange");
  border-color: map-get($parc-colors, "light-orange");
  color: #fff;

  &:hover {
    background-color: darken(map-get($parc-colors, "light-orange"), 10%);
    border-color: darken(map-get($parc-colors, "light-orange"), 10%);
    color: #fff;
  }
}

button.btn.btn-light-secondary,
button.btn.btn-light-secondary.disabled {
  background-color: map-get($parc-colors, "medium-gray");
  border-color: map-get($parc-colors, "medium-gray");
  color: #fff;
}


// .form-control.ng-invalid.ng-touched {
//     @extend .form-control, .is-invalid;
// }

// .vq-widget {
//     background: color("white");
//     padding: 0.5rem 1rem 1rem;
//     margin: 0 0 1rem;
//     box-shadow: 0 0 1px rgba(0, 0, 0, .15);
//     width: 100%;
// }

// .vq-title {
//     @extend .font-weight-light;
// }

// .vq-tooltip {
//     position: absolute;
//     text-align: center;
//     font-size: 14px;
//     padding: 0.5rem;
//     pointer-events: none;
//     display: none;
//     background-color: rgba(gray("800"), 0.85);
//     color: color('white');
//     border-radius: 2px;
// }

// .vq-info-tooltip {
//     color: lighten(theme-color("primary"), 20%) !important;
//     &:hover {
//         transition: 0.25s all;
//         color: theme-color("primary")
//     }
// }

// .mat-tooltip {
//     font-size: 11pt !important;
// }

// .form-control.small {
//     width: 50%;
// }

// .fa-refresh {
//     margin-right: 4pt;
// }
