<div class="vq-widget-container">
  <h3>Choose video collection to find matches</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col pl-0">
        <select class="form-control" [(ngModel)]="newQueryService.selectedSearchSet"
          (ngModelChange)="onSelectedSearchSet()" [disabled]="disableVideoCollectionDropdown">
          <option [ngValue]="null" disabled selected>Select Video Collection</option>
          <option *ngFor="let searchSet of newQueryService.searchSets?.results" [ngValue]="searchSet">
            {{searchSet.name}}</option>
        </select>
      </div>
      <div class="col pr-0">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="disableVideoCollectionDropdown"
            (ngModelChange)="onSelectNewVideosClicked()">
          <label class="form-check-label">Select new videos</label>
        </div>
      </div>
    </div>
  </div>
  <section class="new-videos-container" *ngIf="disableVideoCollectionDropdown">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><input type="checkbox" class="form-check-input">All</th>
          <th scope="col">VIDEO NAME</th>
          <th scope="col">DATE ADDED</th>
          <th scope="col">VIDEO LENGTH</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of newQueryService.videos">
          <td><input type="checkbox" class="form-check-input"></td>
          <td> <b (click)="onPathClick(video)">{{video.name}}</b></td>
          <td>
            Not Tracked
          </td>
          <td>
            Not Tracked
          </td>
        </tr>
      </tbody>
    </table>
    <section class="vq-pagination">
      <app-pagination [pagination]="pagination" (paginationClick)="onPaginationClick($event)"
        (perPageSelected)="onPerPageSelection($event)"></app-pagination>
    </section>
  </section>
</div>
