@import "../../../../../custom";

.query-container {
  margin: 0 0 2rem;
  padding: 1rem;
}

table {
  font-size: 14px;
}

table tr td:nth-child(odd) {
  color: map-get($parc-colors, "medium-gray");
}

.table td {
  padding: 0.25rem 0.75rem;
}

.state-text {
  color: map-get($theme-colors, "danger");
  font-weight: bold;
}

.view-notes-link {
  cursor: pointer;
  text-decoration: underline;
  color: map-get($parc-colors, "medium-gray");
}

button,
.btn-success {
  color: #fff;
  min-width: 150px;
}

button.disabled {
  cursor: no-drop;
}

.btn-light-secondary,
.btn-light-secondary.disabled {
  background-color: map-get($parc-colors, "medium-gray");
  border-color: map-get($parc-colors, "medium-gray");
}

.btn-light-orange,
.btn-light-orange.disabled {
  background-color: map-get($parc-colors, "light-orange");
  border-color: map-get($parc-colors, "light-orange");
}

.text-light-orange {
  color: map-get($parc-colors, "light-orange");
}


::ng-deep textarea {
  min-width: 800px;
  min-height: 200px
}

.text-fuchsia {
  color: map-get($parc-colors, "ting-fuchsia");
}
