<div class="vq-widget">
  <form #newForm="ngForm">
    <header class="clearfix">
      <h4 class="float-left">{{searchSetAddService.searchSet.name}}</h4>
      <button type="button" class="btn btn-warning btn-sm float-right" (click)="onSave()" [disabled]="newForm.invalid">Save</button>
    </header>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="searchSetName">Name</label>
          <input type="text" class="form-control" id="searchSetName" required [(ngModel)]="searchSetAddService.searchSet.name" name="searchSetName"
            #searchSetName="ngModel">
          <small id="searchSetNameHelp" class="form-text text-muted">Name Identifier</small>
          <div *ngIf="searchSetName.invalid && (searchSetName.dirty || searchSetName.touched)">
            <div *ngIf="searchSetName.errors.required" class="vq-invalid-feedback">
              Name is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="searchSetDuration">Duration</label>
          <input type="text" class="form-control" id="searchSetDuration" required [(ngModel)]="searchSetAddService.searchSet.duration"
            name="searchSetDuration" #searchSetDuration="ngModel" pattern="^[0-9]\d*$">
          <small id="searchSetDurationHelp" class="form-text text-muted">Duration of clips in seconds</small>
          <div *ngIf="searchSetDuration.invalid && (searchSetDuration.dirty || searchSetDuration.touched)">
            <div *ngIf="searchSetDuration.errors.required" class="vq-invalid-feedback">
              Duration is required.
            </div>
            <div *ngIf="searchSetDuration.errors.pattern" class="vq-invalid-feedback">
              Duration must be a positive integer.
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="custom-control custom-checkbox">
      <div class="form-group">
        <input type="checkbox" class="custom-control-input" id="searchSetDynamic" [(ngModel)]="searchSetAddService.searchSet.useDynamicTargetAdjustment"
          name="searchSetDynamic">
        <label class="custom-control-label">Dynamic target adjustment</label>&nbsp;
        <i matTooltip="Let the algorithms know whether to “average” the features of all validated matches in each round and have that be the new reference."
          class="vq-info-tooltip fa fa-question"></i>
      </div>
    </div>
  </form>
  <hr>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table">
      <tr *ngFor="let video of searchSetAddService.videosInSearchSet">
        <td>{{video.name}}</td>
        <td>{{video.path}}</td>
        <td (click)="onRemove(video)">
          <i class="fa fa-times"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
