<div class="vq-widget">
  <form #newForm="ngForm">
    <header class="clearfix">
      <h4 class="float-left">{{searchSetAddService.searchSet.name}}</h4>
      <button type="button" class="btn btn-warning btn-sm float-right save-btn" (click)="onSave()" [disabled]="newForm.invalid">Save</button>
    </header>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="searchSetName">Name Identifier</label>
          <input type="text" class="form-control" id="searchSetName" required [(ngModel)]="searchSetAddService.searchSet.name" name="searchSetName"
            #searchSetName="ngModel">
          <div *ngIf="searchSetName.invalid && (searchSetName.dirty || searchSetName.touched)">
            <div *ngIf="searchSetName.errors.required" class="vq-invalid-feedback">
              Name is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="searchSetDuration">Duration of clips in seconds</label>
          <input type="text" class="form-control" id="searchSetDuration" required [(ngModel)]="searchSetAddService.searchSet.duration"
            name="searchSetDuration" #searchSetDuration="ngModel" pattern="^[0-9]\d*$">
          <div *ngIf="searchSetDuration.invalid && (searchSetDuration.dirty || searchSetDuration.touched)">
            <div *ngIf="searchSetDuration.errors.required" class="vq-invalid-feedback">
              Duration is required.
            </div>
            <div *ngIf="searchSetDuration.errors.pattern" class="vq-invalid-feedback">
              Duration must be a positive integer.
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table">
      <tr *ngFor="let video of searchSetAddService.videosInSearchSet">
        <td>{{video.name}}</td>
        <td>{{video.path}}</td>
        <td (click)="onRemove(video)">
          <button type="button" class="float-right btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
